@import '@modules/common/styles/mixins';

.container {
  @include pageContent();
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.richText {
  min-height: 600px;
  margin-bottom: 40px;
}