@import '@modules/common/styles/media';

.headerContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 21;
  height: 70px;
  width: 100%;
  background-color: var(--grey-30);
  box-shadow: 0 2px 20px 0 rgba(#00131A, 0.1);
}

.headerContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  background-color: white;
  gap: 8px;

}


.content {
  padding-top: 70px;
}


.centralize {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.test {
  position: fixed;
  color: red;
  font-size: 32px;
  font-weight: 600;
  top: 110px;
  right: 0;
  z-index: 21;
}

@include media("<tabletMaxSize") {
  .test {
    top: 70px;
  }
}