.coopeeration{
  width: 100%;
  .buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 8px;
  }

  .create{
    margin: 20px auto;
  }

  .imageWrap{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

