@import '@modules/common/styles/media';
@import '@modules/common/styles/mixins';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
}

@include media("<=tabletMaxSize") {
  .wrapper {
    min-height: 600px;
  }
}

@include media("<=tabletMinSize") {
  .wrapper {
    background-image: unset;
    min-height: unset;
  }
}

.container {
  @include pageContent();
  flex-direction: column;
  gap: 24px;
}

@include media("<=tabletMaxSize") {
  .container {
    align-items: center;
  }
}

@include media("<=tabletMinSize") {
  .container {
    align-items: center;
    padding: 0;
  }
}

.card {
  background-color: white;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 16px;
}

@include media("<=tabletMinSize") {
  .card {
    border-radius: 0;
  }
}

.links {
  color: var(--brand-500);

  &:hover {
    text-decoration: underline;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.forgetPasswordLink {
  text-align: end;
  margin-top: -4px;
}

.loginSuggest {
  text-align: center;
}
